.aboutus-background{
    width: 100vw;
    font-style  : oblique;
    height: 89vh;
    background-size: cover;
    background-position: center;
    background-image: url("./../../public/img.svg/connected-health.jpg");
   
}
.boxx{
    padding: 10px 10px 10px 10px;
    border: 1px solid;
    box-shadow: 5px 10px #686666;
    width: 800px;
    margin: auto;
    height: 500px;
}
.boxx p{
    font-style  : oblique;
}
