.doctor_css{
    width: 300px;
    padding: 30px;
    margin: 10vh 30vw 30vh 35vw;
    border: 2px solid #ccc;
    background-color: rgb(221, 235, 235);
}

.doctor_background{
    width: 100%;
    height: 100%;
    margin-top: 0%;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-image: url("./../../public/img.svg/rm208batch2-card-05.jpg");
  }
  .doctorName_css{
    margin-top: 20vh;
    margin-left: 30%;
  }
  .doctorQueue_css{
    margin-top: 10px;
    margin-left: 28%;
  }