.prescription-form {
    padding-top: 500px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    color:rgb(10, 110, 172);
  }
 
  .myBox{
    padding: 50px;
    width: 100%;
    height: 600px;
    background-color: #e5f6fa;
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10
  }


  /* .prescription-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .success-message, .error-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .success-message {
    background-color: #DFF2BF;
    border: 1px solid #4F8A10;
    color: #4F8A10;
  }
  
  .error-message {
    background-color: #FFBABA;
    border: 1px solid #D8000C;
    color: #D8000C;
  }
   */