.adjust{
    display: flex;
    justifyContent: center;
    alignItems: center;
    height: 90vh;
    color: rgb(222, 241, 241);
}
.centered{
    width: 300px;
    padding: 30px;
    margin-top: 60px;
    margin-left: 400px;
    border: 2px solid #ccc;
    backgroundColor: rgb(221, 235, 235);
}

.background-img{
    width: 85vw;
    height: 100vh;
    margin-top: 0%;
    margin-left: 15vw;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-image: url("./../../public/img.svg/360_F_487692869_V8MZ1hLvhXQZKT50EV8Sh13AkdibGJb3.jpg");
}

.txt-css{
    margin-top: 20vh;
    margin-left: 77vh;
}
.txt-css2{
    margin-top: 5vh;
}
