.blockCss{
    width: 300px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid #ccc;
    background-color: rgb(221, 235, 235);
}

.adjust{
  width: auto;
  height: 20px;
  padding: 30px;
  margin-top: 20px;
  border: 2px solid #ccc;
  color: black;
  align-items: center;
}
.make-button{
  width: 100px;
  margin: 20px 65px;
  background-color: beige;
}
.cursor{
    cursor: pointer;
}
.adjust:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }