.register {
    padding-top: 30px;
    margin-left:800px;
    margin-right: 400px;
    margin-top: 50px;
    width: 400px;
    height: 75vh;
    border: 10px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.signUp{
    width: 100vw;
    height: 89vh;
    margin-top: 0%;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-image: url("./../../public/img.svg/connected-health.jpg");
}

.register > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 32px;
    padding: 0.5rem 0.75rem;
    width: 82%;
    font-size: 1rem;
}
.register>select {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 32px;
    padding: 0.5rem 0.75rem;
    width: 82%;
    font-size: 1rem;
}
.button-css {
    width: 150px;
	height: 40px;
	margin: 15px auto 0px auto;
	font-family: arimo;
	font-size: 1.1rem;
	border: none;
	border-radius: 5px;
	letter-spacing: 2px;
    padding: 8px 45px;
	cursor: pointer;
	background: #616161; 
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  
    background: linear-gradient(to right, #9bc5c3, #616161);
}
.text_css{
    margin-left: 0;
    font-family: arimo;
	color: black;
}

.two-button{
    display: flex;
    justify-content: center;
}
